body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
  }
  
  ol, ul {
    padding-left: 30px;
  }

  .game-board {
    display: flex;
    align-content: center;
    justify-content: center;
  }
/* 
  .game-info {
    display: flex;
    align-content: center;
    justify-content: center;
  } */
  .board-row {
    display: flex;
  }

  .board-row:after {
    content: "";
  }
  
  .status {
    margin-bottom: 10px;
  }
  
  .square {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 46px;
    border: 1px solid #999;
    width: 60px;
    background: #fff;
    height: 60px;
  }
  .square:focus {
    outline: none;
  }

  .square.winner {
    background-color: rgb(43, 226, 43);
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game {
    display: flex;
    flex-direction: row;
  }